{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"extends": ["airbnb-base", "plugin:vue/recommended", "plugin:prettier/recommended"],
	"plugins": ["jsdoc"],
	"parserOptions": {
		"requireConfigFile": false,
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"ignorePatterns": ["_", "**/*/*.min.js"],
	"globals": {
		"fn*": false,
		"globalThis": false,
		"*": false,
		"$": false,
		"_": false,
		"Vue": false,
		"VueAwesomeSwiper": false,
		"vueBus": false,
		"dayjs": false,
		"lottie": false,
		"cookie": false,
		"bridge": false,
		"bridgeRouter": false,
		"app": false,
		"device": false,
		"history": false,
		"location": false,
		"document": false,
		"window": false
	},
	// add your custom rules here
	"rules": {
		/**********************/
		/* Global Code Rules */
		/**********************/
		"prettier/prettier": "error",

		"no-unused-expressions": "off",
		"no-param-reassign": "off",

		"consistent-return": "off",
		"no-console": "off",
		// "import/no-named-as-default": "off",
		/**********************/
		/* General Code Rules */
		/**********************/
		// Enforce import order
		"import/order": "error",

		"import/no-dynamic-require": "off",

		// .vue ~ syntax
		"import/extensions": "off",

		// nuxt.js
		"import/no-extraneous-dependencies": "off",

		// Imports should come first
		"import/first": "error",

		// Other import rules
		"import/no-mutable-exports": "error",

		// Allow unresolved imports
		"import/no-unresolved": "off",

		/**********************/
		/*     Vue Rules      */
		/**********************/
		// "vue/no-multi-spaces": [
		//   "error",
		//   {
		//     ignoreProperties: false,
		//   },
		// ],
		"vue/multi-word-component-names": "error",

		"vue/singleline-html-element-content-newline": "off",

		// Disable template errors regarding invalid end tags
		"vue/no-parsing-error": [
			"error",
			{
				"x-invalid-end-tag": false
			}
		],

		// Maximum 5 attributes per line instead of one
		"vue/max-attributes-per-line": "off",
		// "vue/max-attributes-per-line": [
		//   "error",
		//   {
		//     "singleline": 5
		//   }
		// ],

		/***************************/
		/* ESLint Vue Plugin Rules */
		/***************************/
		"vue/html-indent": [
			"error",
			"tab",
			{
				"attribute": 1,
				"baseIndent": 1,
				"closeBracket": 0,
				"alignAttributesVertically": true,
				"ignores": []
			}
		],

		"vue/order-in-components": [
			"error",
			{
				"order": [
					"el",
					"name",
					"key",
					"parent",
					"functional",
					["delimiters", "comments"],
					["components", "directives", "filters"],
					"extends",
					"mixins",
					["provide", "inject"],
					"ROUTER_GUARDS",
					"layout",
					"middleware",
					"validate",
					"scrollToTop",
					"transition",
					"loading",
					"inheritAttrs",
					"model",
					"props",
					"emits",
					"setup",
					"asyncData",
					"data",
					"fetch",
					"head",
					"computed",
					"watch",
					"watchQuery",
					"LIFECYCLE_HOOKS",
					"methods",
					["template", "render"],
					"renderError"
				]
			}
		],
		"global-require": 0,
		"vue/html-self-closing": ["off"],
		"vue/component-name-in-template-casing": [
			"error",
			"kebab-case",
			{
				"ignores": ["nuxt", "nuxt-link"]
			}
		],

		// https://eslint.vuejs.org/rules/attributes-order.html
		"vue/attributes-order": [
			"error",
			{
				"order": [
					"DEFINITION",
					"LIST_RENDERING",
					"CONDITIONALS",
					"RENDER_MODIFIERS",
					"GLOBAL",
					"UNIQUE",
					"TWO_WAY_BINDING",
					"OTHER_DIRECTIVES",
					"OTHER_ATTR",
					"EVENTS",
					"CONTENT"
				]
			}
		],

		/***************************/
		/* ESLint Jsdoc Plugin Rules */
		/***************************/
		"jsdoc/check-access": 1, // Recommended
		"jsdoc/check-alignment": 1, // Recommended
		"jsdoc/check-examples": 0,
		"jsdoc/check-indentation": 0,
		"jsdoc/check-line-alignment": 0,
		"jsdoc/check-param-names": 0, // Recommended
		"jsdoc/check-property-names": 1, // Recommended
		"jsdoc/check-syntax": 0,
		"jsdoc/check-tag-names": 0, // Recommended
		"jsdoc/check-types": 1, // Recommended
		"jsdoc/check-values": 1, // Recommended
		"jsdoc/empty-tags": 0, // Recommended
		"jsdoc/implements-on-classes": 1, // Recommended
		"jsdoc/match-description": 0,
		"jsdoc/multiline-blocks": 1, // Recommended
		"jsdoc/newline-after-description": 0, // Recommended
		"jsdoc/no-bad-blocks": 0,
		"jsdoc/no-defaults": 0,
		"jsdoc/no-missing-syntax": 0,
		"jsdoc/no-multi-asterisks": 0, // Recommended
		"jsdoc/no-restricted-syntax": 0,
		"jsdoc/no-types": 0,
		"jsdoc/no-undefined-types": 0, // Recommended
		"jsdoc/require-asterisk-prefix": 0,
		"jsdoc/require-description": 0,
		"jsdoc/require-description-complete-sentence": 0,
		"jsdoc/require-example": 0,
		"jsdoc/require-file-overview": 0,
		"jsdoc/require-hyphen-before-param-description": 0,
		"jsdoc/require-jsdoc": 1, // Recommended
		"jsdoc/require-param": 0, // Recommended
		"jsdoc/require-param-description": 0, // Recommended
		"jsdoc/require-param-name": 1, // Recommended
		"jsdoc/require-param-type": 0, // Recommended
		"jsdoc/require-property": 1, // Recommended
		"jsdoc/require-property-description": 1, // Recommended
		"jsdoc/require-property-name": 1, // Recommended
		"jsdoc/require-property-type": 1, // Recommended
		"jsdoc/require-returns": 0, // Recommended
		"jsdoc/require-returns-check": 0, // Recommended
		"jsdoc/require-returns-description": 0, // Recommended
		"jsdoc/require-returns-type": 0, // Recommended
		"jsdoc/require-throws": 0,
		"jsdoc/require-yields": 1, // Recommended
		"jsdoc/require-yields-check": 1, // Recommended
		"jsdoc/tag-lines": 1, // Recommended
		"jsdoc/valid-types": 0, // Recommended

	},
	"overrides": [
		{
			"files": "**/*.vue",
			"rules": {
				"object-shorthand": "error",
				"es5/no-shorthand-properties": "off"
			}
		}
	]
}
